*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #143F6B, #396a9b);
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    max-height: 100%;
    max-width: 100%;
}

#content{
    display: flex;
    flex-direction: column;
}

#main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico';
    letter-spacing: 0.15em;
    color: #FEB139;
    font-size: 4em;
    margin: 0;
}

#score-panel{
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15em;
    background-color:beige ;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.score-player{
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
    margin: 0;
}

.score-num{
    font-family: 'Poppins';
    font-size: 160px;
    margin: 0;
}

#verdict-sheet{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 5px;
    flex: 1;
}

#choice-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    height: 230px;
}

.choice-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #FFEA00;
    border: 5px solid #FEB139;
    border-radius: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.choice-box:hover{
    height: 180px;
    width: 180px;
}

.game-over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 124px;
    color: beige;
    letter-spacing: 10px;
    transition: .75s;
}

.start-battle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 124px;
    color: beige;
    letter-spacing: 10px;
    transition: .5s;
}

#footer{
    font-family: 'Poppins';
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

.ghlogo{
    font-size: 30px;
    color: black;
}

